body {
    background-color: lightgray;
}

.error {
    background-color: lightcoral;
}

.fine {
    background-color: lightgreen;
}

.info {
    background-color: lightskyblue;
}

#overviewPage table {
    width: 100%;
}

#overviewPage tr.mainModuleLine {
    border-top: 1px ridge black;
}

#overviewPage input {
    width: 4em;
}
